/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Fonts */

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url(./app/appAssets/Montserrat-Italic-VariableFont_wght.ttf);
}

/* Колір шрифту */

.font-black {
    color: #101010;
}

.font-grafit {
    color: #232323;
}

.font-bordo {
    color: rgb(196, 51, 51);
}

.font-lila {
    color: rgb(171, 57, 171);
}

/* Розмір шріфту */

.fontM18 {
    font-family: Montserrat;
    font-style: Regular;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.05em;
}

.fontM22 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.05em;
}

.fontM24 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.05em;
}

.fontM36 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 36px;
}

.fontM64 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 64px;
    letter-spacing: 0.05em;
}

.fontM72 {
    font-family: Montserrat;
    font-style: italic;
    font-weight: 700;
    font-size: 72px;
}
